<mat-card class="user-detail-header" *ngIf="user">
  <mat-card-content>
    <button
      mat-icon-button
      matTooltip="Edit"
      class="pin-right-upper-corner"
      (click)="editUserDetail()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Back" color="primary" class="pin-right-upper-corner2" routerLink="/user" routerLinkActive="router-link-active">
      <mat-icon>replay</mat-icon>
    </button>

    <img src="assets\img\car.png" />
    <div class="user-details">
      <td><b>User Name:</b> {{ user.firstName }} {{ user.lastName }}</td>
      <br />
      <td><b>Street:</b> {{ user.street }}</td>
      <br />
      <td><b>City:</b> {{ user.city }}</td>
      <br />
      <td><b>Zip Code:</b> {{ user.zipCode }}</td>
      <br />
      <td><b>E-Mail:</b> {{ user.email }}</td>
      <br />
      <td><b>Phone:</b> {{ user.phoneNumber }}</td>
      <br />
      <td><b>Car Modell:</b> {{ user.carModell }}</td>
      <br />
     <!--  <td><b>Datum:</b> {{ user.birthDate | date : "EEEE, dd/MM/yyyy" }}</td> -->
    </div>
  </mat-card-content>
</mat-card>
