<mat-card class="user-detail-header" *ngIf="user">
  <mat-card-content>
    <button
      mat-icon-button
      class="pin-right-upper-corner"
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail()">Edit</button>
      <button mat-menu-item (click)="deleteUser(this.allUsers.id)">Delete Guest</button>
    </mat-menu>

    <img src="assets\img\profile.svg" />
    <div class="user-details">
      <h2>Guest Name: {{ user.firstName }} {{ user.lastName }}</h2>
      <p></p>
      <p>Email: {{ user.email }}</p>
      <p>Phone: {{user.phone}}</p>
      <p>Check-in: {{user.checkInDate | date : "dd.MM.yyyy"}}</p>
      <p>Check-out: {{user.checkOutDate | date : "dd.MM.yyyy"}}</p>
      <p>BirthDate: {{user.birthDate | date : "dd.MM.yyyy"}}</p>
      <p>RoomNumber: {{user.roomNumber}}</p>
      <p>Preferences: {{user.preferences}}</p>
      <p>PaymentInfo: {{user.paymentInfo}}</p>
      <p>Communication History: {{user.communicationHistory}}</p>

      
    </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="mt-32" *ngIf="user">
  <mat-card-header>
    <button
      mat-icon-button
      class="pin-right-upper-corner"
      [matMenuTriggerFor]="adressMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #adressMenu="matMenu">
      <button mat-menu-item (click)="editAdressDetail()">Edit</button>
    </mat-menu>

    <mat-card-title>Adress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.street }} <br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card> -->
