<mat-card class="user-detail-header" *ngIf="user">
  <mat-card-content>
    <button
      mat-icon-button
      class="pin-right-upper-corner"
      (click)="editUserDetail()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-icon-button color="primary" class="pin-right-upper-corner2" routerLink="/user" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <img src="assets\img\horse.png" />
    <div class="user-details">
      <td><b>Name des Pferdes:</b> {{ user.horseName }}</td>
      <br />
      <td><b>Besitzer Pferd:</b> {{ user.lastName }}</td>
      <br />
      <td><b>Einsteller Information:</b> {{ user.infos }}</td>
      <br />
      <td><b>Datum:</b> {{ user.birthDate | date : "EEEE, dd/MM/yyyy" }}</td>
    </div>
  </mat-card-content>
</mat-card>
