.user-detail-header {
  height: 50vh;
  background-color: rgb(230, 230, 230);
  

  mat-card-content {
    display: flex;
    align-items: flex-end;
    height: 30vh;

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
  }
}

.user-details {
    margin-left: 32px;
    display: flex;
    height: 64px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }

}

.pin-right-upper-corner {
    position: absolute;
    top: 12px;
    right: 59px;
}
.pin-right-upper-corner2 {
  position: absolute;
  top: 12px;
  right: 2px;
}