<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>User Name</th>
        <th>E-Mail</th>
        <th>Phone Number</th>
        <th>Car</th>
      </tr>
      <tr *ngFor="let user of allUsers" [routerLink]="['/user', user.id]">
       
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td><button [routerLink]="['/car']" mat-icon-button matTooltip="Edit">
          <mat-icon><img src="assets\img\car.png" alt=""></mat-icon>
        </button></td>
        <td>
          <button mat-icon-button matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        
        <!--  <td>{{ user.birthDate | date:'EEEE, dd/MM/yyyy' }}</td> -->

      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Neue Information hinzufügen"
  matTooltipPosition="above"
>
  <mat-icon>person_add</mat-icon>
</button>
