.weather_icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: inline;
}

.weather_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
}

.myChart {
  width: 200;
  height: 100px;
}
