<mat-card class="min-with">
  <mat-card-header>
    <mat-card-title translate>total guests</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ userCount }}</p>
  </mat-card-content>
</mat-card>






<!--   <mat-card *ngFor="let user of usersCheckInOut">
    <mat-card-header>
      <mat-card-title>User: {{user.firstName}} {{user.lastName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Check-In: {{user.checkInDate | date}}</p>
      <p>Check-Out: {{user.checkOutDate | date}}</p>
    </mat-card-content>
  </mat-card> -->
